---
import "../../CSS/style.css"
import Mainlayout from "../../layouts/mainlayout.astro";
import Knap from "../../components/knap.astro";
import Footer from "../../components/footer.astro";
import Header from "../../components/header.astro";
import Single from "../../components/single.astro";

export async function getStaticPaths() {
  const url =
    "https://ncnxkzrhupydkojhsrje.supabase.co/rest/v1/omada_produkter";

  const options = {
    headers: {
      apikey:
         "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jbnhrenJodXB5ZGtvamhzcmplIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE5MjA1OTEsImV4cCI6MTk5NzQ5NjU5MX0.gXd0P_Fm2gqFW0IUW9yuh8yXfwhlAvtNtIdwk4wu_6s",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((produkt) => {
    return {
      params: { slug: produkt.id },
      props: { produkt },
    };
  });
}

const { produkt } = Astro.props;
---
<Mainlayout title="singleview">
<Header></Header>
 <Knap size="tilbage"><a href="/">Tilbage til forside </a></Knap>
<main>
      <Single
        billede1={produkt.billede1}
        billede2={produkt.billede2}
        navn={produkt.navn}
        pris={produkt.pris}
        beskrivelse={produkt.beskrivelse}
        oprindelse={produkt.oprindelse}
      />
    </main>
<Footer></Footer>
</Mainlayout>
 